/.vs
/.vscode
/assets
/dist
/packages/appimage/*/*.AppImage
.xmake/
build/
*.bak
*.pro.user
/RedPandaIDE/debug
/RedPandaIDE/release
/debug
*.tlog
/libs/lua/release
/libs/lua/debug
/libs/qsynedit/debug
/libs/qsynedit/release
/libs/redpanda_qt_utils/debug
/libs/redpanda_qt_utils/release
/tools/consolepauser/debug
/tools/consolepauser/release
/libs/lua/debug
/RedPandaIDE/release/qt/qmake
/libs/lua/release/qt/qmake
Red_Panda_CPP.pro.user.ae6cf2b
*.user
*.autosave
*.autosave
RedPandaIDE/mainwindow.ui.autosave

.qtcreator/
